@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}


.banner-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
    background-color: black;
    width: 80%;
    border-radius: 30px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    padding-top: 33px;
    width: 80%;
}

h1 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
}

p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
}

.link-button {
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 40px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

.fa-greater-than {
    font-size: 25px;
    font-weight: 100;
    transform: translateY(4px);
}





.container {
    display: flex;
    margin-bottom: 130px;
    width: 90%;
    margin-left: 10%;
}

.menu-box {
    padding-top: 30px;
    background-color: #161616;
    width: 250px;
    height: 230px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
}

.item-name {
    padding-top: 5px;
    font-size: 18px;
    font-weight: 500;
    color: #161616;
    width: 170px;
    height: 30px;
    background-color: #FFFFFF;
    font-weight: 20px;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

.menu-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.menu-cards p {
    font-size: 18px;
    color: #161616;
}

.card {
    width: 312px;
    height: 362px;
    border: 2px solid #EBEBEB;
}

.card-link {
    text-decoration: none;
    color: #161616;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid #161616;
    padding: 5px 20px;
    margin-left: 10px;
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    float: left;
    grid-column-gap: 60px;
}

.card-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}




button {
    display: none;
}




footer {
    background-color: #161616;
    width: 100%;
    height: 460px;
}

hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
}

.footer-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    padding-left: 220px;
}

.footer-title {
    padding-top: 130px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}

.footer-items {
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
}


.social-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.fa-pinterest {
    font-size: 40px;
    color: white;
}

.fa-linkedin {
    font-size: 40px;
    color: white;
}

.fa-github {
    font-size: 40px;
    color: white;
}




@media only screen and (max-width:688px) {

    body {
        overflow-x: hidden;
    }



    .flexible-container {
        flex-direction: column;
        width: 80%;
    }

    .half-width img {
        width: 100%;
    }





    .container {
        flex-direction: column;
        width: 50%;
        transform: translateX(35%);
    }

    .menu-box {
        background-color: #FFFFFF;
        transform: translateX(10%);
    }

    .item-name {
        border-radius: 10px solid #E8E8E8;
        width: 210px;
        height: 48px;
        color: #161616;
        font-size: 20px;
    }

    .menu-cards {
        grid-template-columns: repeat(1, 1fr);
    }



    button {
        display: none;
    }






    footer {
        width: 100%;
        height: 760px;
    }

    .footer-container {
        flex-direction: column;
        transform: translateX(-5%);
    }

    .footer-items {
        margin-bottom: 15px;
    }

    .social-icons {
        flex-direction: column;
        align-items: center;
    }

    .fa-pinterest {
        margin-bottom: 15px;
    }

    .fa-linkedin {
        margin-bottom: 15px;

    }

    .fa-github {
        margin-bottom: 25px;

    }


}





@media only screen and (min-width:688px) and (max-width: 992px) {

    body {
        overflow-x: hidden;
    }


    .flexible-container {
        flex-direction: row;
        width: 80%;
        height: 500px;
    }



    .container {
        flex-direction: column;
        width: 50%;
        margin-bottom: 50px;
        margin-top: -100px;
    }




    .menu-box {
        background-color: #FFFFFF;
        flex-direction: row;
        transform: translateX(75%);
    }



    .item-name {
        width: 700px;
    }



    .item-name {
        border-radius: 10px solid #E8E8E8;
        width: 210px;
        height: 48px;
        color: #161616;
        font-size: 20px;
    }



    .menu-cards {
        grid-template-columns: repeat(2, 1fr);
    }





    .button-section {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    button {
        display: block;
        width: 131px;
        height: 47px;
        background-color: #DD0000;
        border: 5px solid #DD0000;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
    }



    .footer-container {
        flex-wrap: wrap;
        transform: translateX(-12%);
        justify-content: space-evenly;
    }

}