/*--------------- 
      Fonts 
---------------*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');






/*------------------------------ 
  Common Styles or Utilities 
------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}





/*------------------------- 
    Top Banner Section 
-------------------------*/

.banner-section {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
    background-color: #4d4343;
    width: 80%;
    border-radius: 30px;
    height: 450px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    padding-top: 33px;
    width: 72.5%;
}

h1 {
    font-size: 40px;
    color: #FFFFFF;
    font-weight: 700;
}

p {
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 400;
}


@keyframes sliding {
    0% {
        background-color: #DD0000;
        left: 0;
        top: 0;
    }


    25% {
        top: 50px;
        background-color: #DD0000;
        transform: scale(0.5);
    }

    50% {
        top: 0;
        background-color: #DD0000;
        transform: scale(1);
    }

    75% {
        top: 50px;
        background-color: #DD0000;
        transform: scale(0.5);
    }


    100% {
        background-color: #DD0000;
        left: 200px;
        top: 0;
    }
}

.link-button {
    text-decoration: none;
    background-color: #DD0000;
    padding: 10px 40px;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    position: relative;
    animation: sliding 2s ease-in-out 0.5s 2 alternate;
}


.fa-greater-than {
    font-size: 25px;
    font-weight: 100;
    transform: translateY(4px);
}






/*---------------------------------- 
  Navigation Menu, Blogs, Matches  
----------------------------------*/

.container {
    display: flex;
    margin-bottom: 130px;
    width: 90%;
}

.menu-box {
    padding-top: 30px;
    background-color: #4d4343;
    width: 250px;
    height: 220px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    margin-left: 10%;

}

.item-name {
    text-decoration: none;
    padding-top: 3px;
    font-size: 18px;
    font-weight: 500;
    color: #161616;
    width: 170px;
    height: 30px;
    background-color: #FFFFFF;
    font-weight: 20px;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}


#active-item-name {
    text-decoration: none;
    padding-top: 3px;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
    width: 170px;
    height: 30px;
    background-color: #DD0000;
    font-weight: 20px;
    border-radius: 10px;
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}



.menu-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.menu-cards p {
    font-size: 18px;
    color: #161616;
}

.card {
    width: 312px;
    height: 362px;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
}

.card img {
    margin-bottom: 15px;
}

.card-link {
    text-decoration: none;
    color: #161616;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    border: 2px solid #161616;
    padding: 5px 20px;
    margin-left: 10px;
}

.card-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    float: left;
    grid-column-gap: 60px;
}

.card-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.match-card {
    width: 312px;
    height: 242px;
    border: 2px solid #EBEBEB;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flags {
    padding-top: 53px;
    display: flex;
    justify-content: space-evenly;
}

.flags span {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
    margin-right: 15px;
}

.match-card p {
    margin-top: -5px;
    font-size: 16px;
    font-weight: 400;
    color: #4D4D4D;
}





/*----------------- 
   Tablet Button 
-----------------*/

button {
    display: none;
}






/*--------------- 
     Footer 
---------------*/

footer {
    background-color: #4d4343;
    width: 100%;
    height: 460px;
}

hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 50px;
}

.footer-container {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    padding-left: 220px;
}

.footer-title {
    padding-top: 130px;
    color: #FFFFFF;
    font-size: 40px;
    text-align: center;
    font-weight: 500;
}

.footer-items {
    color: #B9B9B9;
    font-size: 16px;
    font-weight: 500;
}


.social-icons {
    display: flex;
    justify-content: space-evenly;
    margin: 50px 0;
}

.fa-pinterest {
    font-size: 40px;
    color: white;
}

.fa-linkedin {
    font-size: 40px;
    color: white;
}

.fa-github {
    font-size: 40px;
    color: white;
}





/* -----------------
    Media Queries
------------------*/

/*-----------------
  Mobile Devices
------------------*/

@media only screen and (max-width:688px) {

    body {
        overflow-x: hidden;
    }

    .flexible-container {
        flex-direction: column;
        width: 80%;
        height: 800px;
        align-items: center;
    }

    .half-width img {
        width: 100%;
    }





    .container {
        margin-top: -100px;
        flex-direction: column;
        width: 50%;
        transform: translateX(35%);
    }

    .menu-box {
        background-color: #FFFFFF;
        transform: translateX(10%);
    }

    .item-name {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        width: 190px;
        height: 48px;
        padding-top: 5px;

        color: #161616;
        font-size: 20px;
    }

    #active-item-name {
        width: 190px;
        height: 48px;
        padding-top: 5px;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 20px;
    }


    .menu-cards {
        grid-template-columns: repeat(1, 1fr);
    }



    button {
        display: none;
    }


    footer {
        width: 100%;
        height: 760px;
    }

    .footer-container {
        flex-direction: column;
        transform: translateX(-5%);
    }

    .footer-items {
        margin-bottom: 15px;
    }

    .social-icons {
        flex-direction: column;
        align-items: center;
    }

    .fa-pinterest {
        margin-bottom: 15px;
    }

    .fa-linkedin {
        margin-bottom: 15px;

    }

    .fa-github {
        margin-bottom: 25px;

    }


}





/*-----------------
  Tablet Devices 
-----------------*/

@media only screen and (min-width:688px) and (max-width: 992px) {

    body {
        overflow-x: hidden;
    }


    .flexible-container {
        flex-direction: row;
        width: 80%;
        height: 550px;
    }

    .half-width img {
        padding-top: 33px;
        margin-top: 100px;
        width: 100%;
    }


    .container {
        flex-direction: column;
        width: 50%;
        margin-top: -140px;
    }




    .menu-box {
        background-color: #FFFFFF;
        flex-direction: row;
        justify-content: space-between;
        width: 750px;
    }


    .item-name {
        border: 1px solid #E8E8E8;
        border-radius: 10px;
        padding-top: 25px;
        width: 230px;
        height: 49px;
        color: #161616;
        font-size: 20px;
    }

    #active-item-name {
        width: 230px;
        height: 49px;
        padding-top: 15px;

        border: 1px solid #E8E8E8;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 20px;
    }



    .menu-cards {
        grid-template-columns: repeat(2, 1fr);
    }





    .button-section {
        display: flex;
        justify-content: center;
        margin-bottom: 70px;
    }

    button {
        display: block;
        width: 131px;
        height: 47px;
        background-color: #DD0000;
        border: 5px solid #DD0000;
        border-radius: 5px;
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        color: #FFFFFF;
    }



    .footer-container {
        flex-wrap: wrap;
        transform: translateX(-12%);
        justify-content: space-evenly;
    }

}